<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Virtual Chama, <%= @user.first_name %></h1>
    <p>
      Please verify your email before we proceed
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
